<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=PT+Sans:wght@400;700&display=swap"
          rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=PT+Sans:wght@400;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>

    <script src="/static/js/payment.js" type="module"></script>
</head>
<body>
<div th:replace="navbar.html :: copy"></div>
<div class="container col col-sm-12 col-md-6 col-lg-4">

    <h1 style="text-align: center"><b>Checkout</b></h1>

    <table>
        <thead>
        <tr id="checkout-header">
            <th class="child1">Image</th>
            <th class="child1">Product</th>
            <th class="child1">Unitprice</th>
            <th class="child1">Quantity</th>
            <th class="child1">Sum</th>
        </tr>
        </thead>
        <tbody>
        <tr id="parent" th:each="prod: ${products}">
            <td><img src class="checkoutimg" th:attr="src='/static/img/' + ${prod.getProduct().picture} + '.jpg'"
                     alt=""/></td>
            <td class="child" th:text="${prod.getProduct().name}"></td>
            <td class="child"
                th:text="${prod.getProduct().defaultPrice + ' ' +  prod.getProduct().defaultCurrency}"></td>
            <td><input type="number" id="quantity" th:attr="data-productid=${prod.getProduct().id}" name="quantity"
                       th:value="${prod.getQuantity()}"></td>
            <td class="child" th:text="${prod.getSumPricePerProduct() + ' ' +  prod.getProduct().defaultCurrency}"></td>
        </tr>
        </tbody>
    </table>


    <div style="margin-left: 141px" id="total-price">
        <strong class="total-child">Total: </strong>
        <strong class="total-child" th:text="${total} + ' USD'"></strong>
    </div>
    <a href="payment">
        <button style="margin-left: 200px;margin-top:-20px" class="btn btn-danger"><b>Payment</b></button>
    </a>
    <br>
    <br>
</div>

<div th:replace="footer.html :: copy"></div>
</body>
</html>